[submodule "dots/vim/bundle/nerdtree"]
	path = dots/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dots/vim/bundle/vim-colors-solarized"]
	path = dots/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dots/vim/bundle/vim-rooter"]
	path = dots/vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "dots/vim/bundle/vim-indent-guides"]
	path = dots/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dots/vim/bundle/nerdcommenter"]
	path = dots/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
