[submodule "dots/vim/bundle/nerdtree"]
	path = dots/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dots/vim/bundle/vim-colors-solarized"]
	path = dots/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
