# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.

'.source.css':

  'CSS @group':
    'prefix': '@group'
    'body': '/*  ========================================================================== *\/\n/*  @group ${1} *\/\n/*  ========================================================================== */\n\n${2}'

  'CSS @group secondary':
    'prefix': '@groups'
    'body': '/*  @group ${1} *\/\n/*  ========================================================================== *\/\n\n${2}'

  'LESS @group':
    'prefix': '@groupl'
    'body': '//  -------------------------------------------------------- //\n//  ${1}\n//  -------------------------------------------------------- //'

  'LESS media-query (min-width)':
    'prefix': '@medial'
    'body': '@media only screen and ( min-width: ${1:@-site-breakpoint-medium} ) {\n\t${2}\n}'

  'LESS media-query (max-width)':
    'prefix': '@medialm'
    'body': '@media only screen and ( max-width: ${1:@-site-breakpoint-medium} ) {\n\t${2}\n}'
